html {
    background-color: color(gray, 950);
}

body {
    margin: auto;
    width: 1040px;
    max-width: calc(100% - 2rem);
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -120px;
        left: calc(50% - 360px);
        width: 720px;
        height: 240px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.00) 100%);
    }
}

hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 1px solid color(gray, 900);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2em 0;
    padding: 2em 0;

    a {
        transition: 0.1s ease;
       
        &:hover {
            opacity: 0.6;
        }
    }

    #site_title {
        margin: 0;
    }
    #site_title a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
    }    
    .links a {
        margin-left: 1em;
        color: color(gray, 200);
    }
}


.page_title {
    margin: 2em 0;
}

.posts {
    list-style: none;
    padding: 0;
}

.post {
    display: flex;
    margin-bottom: 3em;
}

.version_wrapper {
    flex-basis: 240px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 3em 0 0 0;

    .version_info {
        position: sticky;
        top: 1em;    
    }

    a {
        float: left;
        color: #fff;
        text-decoration: none;
        transition: 0.1s ease;

        &:hover {
            opacity: 0.6;
        }    
    }
}

.version_number {
    font-family: 'DM Mono', monospace;
    line-height: 1;
    float: left;
    margin-bottom: 8px;
    padding: 4px 12px;
    border: 1px solid color(accent, 600);
    border-radius: 8px;
    background-color: color(accent, 800);
}

.pub_date {
    clear: both;
    color: color(gray, 200);
    font-size: $font-size-small;
}

.content {
    img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        border: 1px solid color(gray, 800);
    }
}

