
html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: color(gray, 200);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
    margin: 1em 0;
    color: #fff;
    font-weight: 700;
}
h1 {
    font-size: 61px;
}
h2 {
    font-size: 49px;
}
h3 {
    font-size: 39px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}

body {
    line-height: 1.5;
}

$font-size-small: 16px;

p {
    margin: 1rem 0;
}