---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} aria-current={isActive ? "page" : undefined} {...props}>
	<slot />
</a>
<style>
	a {
		text-decoration: none;
	}
	a[aria-current="page"] {
		text-decoration: underline;
	}
</style>
